<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <!--classPathEntry location="C:\myBatisGen\postgresql-9.4.1208.jar" /-->
    <context id="PostresqlTables" targetRuntime="MyBatis3">
        <plugin type="org.mybatis.generator.plugins.SerializablePlugin">
            <property name="suppressJavaInterface" value="false"/>
        </plugin>
        <plugin type="org.mybatis.generator.plugins.VirtualPrimaryKeyPlugin"/>
        <plugin type="com.mfincoreplus.mybatis.plugin.QueryLimitOffsetPlugin"/>
        <plugin type="com.mfincoreplus.mybatis.plugin.CaseInsensitiveLikePlugin"/>
        <plugin type="com.mfincoreplus.mybatis.plugin.EndDateLimitPlugin"/>
        <plugin type="com.mfincoreplus.mybatis.plugin.JacksonAnnotationPlugin"/>
        <plugin type="com.mfincoreplus.mybatis.plugin.SwaggerSchemaAnnotationPlugin"/>
        <!--
       <com.cloudschool.mybatis.plugin type="org.mybatis.generator.plugins.CachePlugin" >
           <property name="cache_type" value="org.mybatis.caches.ehcache.EhcacheCache"/>
       </com.cloudschool.mybatis.plugin>
       -->
        <jdbcConnection driverClass="org.postgresql.Driver"
                        connectionURL="${jdbcURL}"
                        userId="${jdbcUserId}"
                        password="${jdbcPassword}">
        </jdbcConnection>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.zkspringboot.domain.maindb.basicsetup"
                            targetProject="${java.target.dir}">
            <property name="enableSubPackages" value="true"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper.maindb.basicsetup" targetProject="${mapper.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </sqlMapGenerator>

        <javaClientGenerator type="XMLMAPPER" targetPackage="com.zkspringboot.dao.maindb.basicsetup"
                             targetProject="${java.target.dir}">
            <property name="enableSubPackages" value="true"/>
        </javaClientGenerator>

        <table schema="" tableName="users" domainObjectName="UsrGlobalUsers">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="user_id" sqlStatement="JDBC" identity="true"/>
        </table>
        <table schema="" tableName="users" domainObjectName="UsrGlobalUsers">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="username" sqlStatement="JDBC" identity="true"/>
        </table>
        <table schema="" tableName="users" domainObjectName="UsrGlobalUsers">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="email" sqlStatement="JDBC" identity="true"/>
        </table>
        <table schema="" tableName="users" domainObjectName="UsrGlobalUsers">
            <property name="useActualColumnNames" value="true"/>
            <generatedKey column="created_at" sqlStatement="JDBC" identity="true"/>
        </table>
    </context>
</generatorConfiguration>